<div class = "rBorder">
<div class="text-center"><h3>Popular Requests</h3></div>
<mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Need 100 Food Packs
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? '2 contributors' : 'Angoda, Colombo'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-panel-description>
              Urgently need 100 food packs to distribute among the flood victims. Please contact if you like to contribute 0771122334
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Drug Awareness Session
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? '1 contributors' : 'Peradeniya, Kandy'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-panel-description>
             Would appreciate if anyone can host a drug awareness event fot the youth around Kandy
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              A Wheelchair needed
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '0 contributors' : 'Kodaikal, Mannar'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>We are looking for a wheelchair new/used to support a 60 year old patient who suffers from arthrites</p>
        </mat-expansion-panel>
      </mat-accordion>
      </div>